@import "./common/reset";
@import "./common/transition";
@import "./common/btn";

// .main-box{
//   padding: 10px;

// }
.container {
  // width: 900px;
  margin: 20px auto;
  padding: 30px;
  padding-top: 0px;
}
